/* h1{
    display: inline;
    background-color: red;
    width: 300px;
}
a{
    display: block;
    background-color: blue;
    width: 300px;
}
p{
    background-color: pink;
    width: 300px;
    display: inline-block;
}
body{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 500px;
} */
body{
    margin: 0;
    background-color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: hotpink;
    padding: 20px 30px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: chocolate;
    padding: 20px;
    margin-top: 20px;
}
#left{
    display: flex;
    gap: 20px;
}
#center{
    display: flex;
    gap: 20px;
}
#right{
    display: flex;
    gap: 20px;
}
#nav{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 20px;
    margin-top: 20px;
}
.abc{
    display: flex;
    gap: 20px;
}
h2{
    color: white;
}